{% extends 'main/layoute.html' %}
{% load static %}
{% block title %}
    <title>Первая страница - Молния Маквин</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}

    <div class="container mt-4">
        <h1>Добро пожаловать на сайт {{caption}}!</h1>

        <div class="row">
            <div class="col-md-6">
                <h2>Молния Маквин</h2>
                <p>Молния Маквин - это легендарный гоночный автомобиль из мультфильма "Тачки" от студии Pixar.
                Он известен своим непобедимым духом, скоростью и стремлением к победе. Маквин всегда готов к новым вызовам
                и приключениям на трассе.</p>
                <p>Вместе со своими друзьями из Радиатор-Спрингс, Молния Маквин учит нас важности дружбы, честности и веры в себя.
                Его девиз - "Я быстр, как молния!" - вдохновляет многих на достижение своих целей.</p>
                <p>Следите за его захватывающими гонками, стремительными поворотами и невероятными приключениями!</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'main/img/lightning_mcqueen.png' %}" alt="Молния Маквин" class="img-fluid rounded">
            </div>
        </div>

        <div class="mt-4">
            <h3>Цитаты Молнии Маквина:</h3>
            <ul>
                <li>"Скорость – вот что главное!"</li>
                <li>"Я не просто машина, я легенда!"</li>
                <li>"Сделай все возможное, чтобы стать первым!"</li>
            </ul>
        </div>
    </div>
{% endblock %}
